.container {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px black;
	font-size: large;
	margin: 1% 30%;
	width: 35%;
	align-items: center;
}

input {
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	width: 90%;
}
#radio1,
#radio2 {
	width: 20px;
}
.delete {
	background-color: red;
}
.update {
	background-color: green;
}
button {
	border: 1px solid gray;
	border-radius: 5px;
	color: white;
	background-color: rgb(66, 66, 255);
	margin: 1%;
	padding: 10px;
	width: 15%;
}

table {
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
}
th,
td {
	border: 2px solid black;
	border-radius: 20px;
}

.navbar {
	z-index: 2;
	display: flex;
	width: 100%;
	height: 75px;
	background-color: rgb(0, 0, 0);
	padding: 10px;
}

img {
	object-fit: contain;
	height: 100%;
	padding-right: 20px;
}

a {
	margin: 0px 10px 0px 10px;
}

.nav-link {
	margin-top: 20px;
	width: 100px;
	height: 40px;
	background-color: white;
	color: black;
}
.nav-link:hover {
	background-color: black;
	color: white;
	transition: 500ms;
}
.links {
	width: 100px;
}
